/** Ultra Light */
@font-face {
    font-family: "San Francisco";
    font-weight: 100;
    src: url('../font/SF-Pro-Rounded-Ultralight.otf');
}

/** Thin */
@font-face {
    font-family: "San Francisco";
    font-weight: 200;
    src: url('../font/SF-Pro-Rounded-Thin.otf');
}

/** light */
@font-face {
    font-family: "San Francisco";
    font-weight: 300;
    src: url('../font/SF-Pro-Rounded-Light.otf');
}

/** Regular */
@font-face {
    font-family: "PoppinsVN";
    font-weight: 400;
    src: url('../font/PoppinsVN-400.woff2');
}

/** Medium */
@font-face {
    font-family: "PoppinsVN";
    font-weight: 500;
    src: url('../font/PoppinsVN-500.woff2');
}

/** Semi Bold */
@font-face {
    font-family: "PoppinsVN";
    font-weight: 600;
    src: url('../font/PoppinsVN-600.woff2');
}

/** Bold */
@font-face {
    font-family: "PoppinsVN";
    font-weight: 700;
    src: url('../font/PoppinsVN-700.woff2');
}