.login-outter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #ffffff;
    height: 100vh;
    width: 100vw;
}

body {
    width: 100vw;
    height: 100vh;
}

.login-form {
    width: 875px;
    height: 600px;
    border-radius: 20px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 80px rgba(52, 52, 52, 0.0701);
    box-shadow: 0 0 80px rgba(52, 52, 52, 0.0701);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    h3 {
        color: #1F4062;
        padding-bottom: 20px;
        font-size: 36px;
        font-weight: bold;
    }

    p {
        font-size: 16px;
        color: #979797;
        font-weight: 500;
        padding-bottom: 40px;
    }

    .butn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 40px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .google {
            background-color: #618DFF;
        }

        .apple {
            background-color: #151515;
        }
    }

    .butn-item {
        min-width: 150px;
        height: 60px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        line-height: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border-radius: 16px;

        &:hover {
            opacity: 0.7;
        }

        p {
            font-size: 20px;
            font-weight: 500;
            color: #fff;
            padding: 0;
        }

        ion-icon {
            font-size: 27px;
            color: #fff;
        }
    }

    span {
        font-size: 14px;
        font-weight: 500;
        color: #979797;
        padding: 55px 0px;
    }

    .outter-input .item {
        position: relative;

        input {
            width: 515px;
            height: 48px;
            border: 1.5px solid #cfcfcf;
            border-radius: 16px;
            padding-left: 30px;

            &::-webkit-input-placeholder,
            &:-ms-input-placeholder,
            &::-ms-input-placeholder,
            &::placeholder {
                font-size: 14px;
                font-weight: 500;
                color: #cacaca;
            }

            &:focus {
                outline: none;
                border: 2px solid #618DFF;
            }
        }

        button,
        a {
            border-radius: 11px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 40px;
            height: 36px;
            position: absolute;
            top: 6px;
            right: 6px;
            background-color: #618DFF;
            border: 1px solid #618DFF;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            cursor: pointer;
        }

        button:hover,
        a:hover {
            opacity: 0.7;
        }

        button:disabled:hover,
        a:disabled:hover {
            opacity: 1;
        }

        button:disabled,
        a:disabled {
            background-color: #ebebeb;
            border: 1px solid #dfdfdf;
            cursor: no-drop;
        }

        button:disabled ion-icon,
        a:disabled ion-icon {
            color: #b4b4b4;
        }

        button ion-icon,
        a ion-icon {
            color: #ffffff;
            font-size: 20px;
        }
    }
}

#btn-loading-new-check .item,
#btn-loading-new .item,
#btn-loading .item {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    -webkit-animation: circle2 1s linear infinite;
    animation: circle2 1s linear infinite;
}

#btn-loading-new-check .item .circle,
#btn-loading-new .item .circle,
#btn-loading .item .circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
    border-radius: 50%;
}

#btn-loading-new-check .item .circle:before,
#btn-loading-new .item .circle:before,
#btn-loading .item .circle:before {
    content: '';
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #9a9a9a;
    position: absolute;
    top: -15%;
    left: 35%;
}

#btn-loading-new-check .item .circle.circle1,
#btn-loading-new .item .circle.circle1,
#btn-loading .item .circle.circle1 {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0.2;
}

#btn-loading-new-check .item .circle.circle2,
#btn-loading-new .item .circle.circle2,
#btn-loading .item .circle.circle2 {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    opacity: 0.4;
}

#btn-loading-new-check .item .circle.circle3,
#btn-loading-new .item .circle.circle3,
#btn-loading .item .circle.circle3 {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    opacity: 0.6;
}

#btn-loading-new-check .item .circle.circle4,
#btn-loading-new .item .circle.circle4,
#btn-loading .item .circle.circle4 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    opacity: 0.8;
}

#btn-loading-new-check .item .circle.circle5,
#btn-loading-new .item .circle.circle5,
#btn-loading .item .circle.circle5 {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    opacity: 1;
}

@-webkit-keyframes circle2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#btn-new-pass,
#btn-new-pass-check,
#btn-back,
#btn-log-in,
#btn-sign-up,
#btn-input-pass {
    width: 160px;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

#btn-new-pass,
#btn-new-pass-check,
#btn-back {
    background-color: #618eff53;
    color: #618DFF;
    border: none;
}

#btn-log-in-false {
    background-color: #FD8484;
    border: 1px solid #FD8484;

    ion-icon {
        color: #fff;
        font-size: 32px;
    }
}

#forget-pass {
    font-size: 14px;
    font-weight: 500;
    color: #618DFF;
    margin-top: 10px;
    display: block;
    width: 515px;
    text-align: end;
    padding-right: 10px;
}

#check-mail {
    font-size: 18px;
    font-weight: 500;
    color: #4f4f4f;
    margin-top: 10px;
    display: block;
}

#icon-send-mail ion-icon {
    color: #62BA85;
    font-size: 82px;
    margin-bottom: 15px;
    margin-top: 40px;
}

#create-acc {
    /* margin-top: 24px; */
    padding: 13px 20px;
    border: none;
    background-color: #618DFF;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 14px;
    transition: all 0.3s ease-in-out;

    &:hover {
        opacity: 0.7;
    }

    &:disabled {
        background-color: #ebebeb;
        border: 1px solid #dfdfdf;
        cursor: no-drop;
        color: #b4b4b4;
    }
}

.outter-input .item:nth-child(3) {
    margin-bottom: 20px;
    margin-top: 10px;
}

#btn-new-pass-check-correct,
#btn-new-pass-correct {
    background-color: #62BA85;
    font-size: 32px;
    border: 1px solid #62BA85;
}

@include maxW(420px) {
    .login-outter {
        .login-form {
            padding: 0 10px;
            width: 100vw;
            height: 100vh;

            h3 {
                font-size: 30px;
                text-align: center;
                padding-bottom: 10px;
            }

            p {
                font-size: 13px;
            }

            .butn {
                gap: 20px;

                &-item {
                    min-width: 100px;
                    height: 40px;
                    gap: 10px;
                    border-radius: 12px;

                    p {
                        font-size: 14px;
                        line-height: 50px;
                    }

                    ion-icon {
                        font-size: 16px;
                    }
                }
            }

            span {
                padding: 30px 0px;
                font-size: 12px;
            }

            .outter-input {
                width: 100%;

                .item {
                    input {
                        width: 100%;
                        height: 38px;
                        border-radius: 10px;
                        padding-left: 15px;
                    }

                    button,
                    a {
                        font-size: 13px;
                        height: 30px;
                        top: 4px;
                        right: 4px;
                        border-radius: 8px;

                        ion-icon {
                            font-size: 16px;
                        }
                    }

                    #btn-new-pass,
                    #btn-new-pass-check,
                    #btn-back,
                    #btn-log-in,
                    #btn-sign-up,
                    #btn-input-pass {
                        font-size: 10px;
                        width: 110px;
                    }
                }
            }

            #forget-pass {
                width: 100%;
                margin-top: 0;
                font-size: 12px;
            }

            #check-mail {
                font-size: 16px;
                text-align: center;
            }

            #icon-send-mail {
                font-size: 46px;
            }

            #create-acc {
                width: 130px;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                text-align: center;
                padding: 0px;
                border-radius: 10px;
            }
        }
    }

}