.avt-background {
    margin-top: 80px;
    height: 435px;
    overflow: hidden;

    img {
        border-radius: 20px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.profile {
    &-wrapper {
        margin-top: -250px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "avt avt avt"
            "main main tag"
        ;
        max-width: 942px
    }

    &-avt {
        grid-area: avt;
        margin-bottom: 75px;

        .avt {
            width: 340px;
            height: 340px;
            border-radius: 20px;
            overflow: hidden;
            padding: 15px;
            background-color: #fff;

            img {
                border-radius: 14px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &-main {
        grid-area: main;
        padding-right: 80px;
        color: #183B56;

        .butn-mobile {
            display: none;
        }

        .fullname {
            display: flex;
            align-items: center;
            gap: 8px;

            p {
                font-size: 46px;
                font-weight: 700;
                letter-spacing: 0.2px;
            }

            ion-icon {
                font-size: 32px;
                --ionicon-stroke-width: 36px;
                color: #1565D8;
            }

            ion-icon:last-child {
                color: #E95432;
            }
        }

        .age {
            display: flex;
            gap: 20px;
            margin-top: 15px;
            margin-bottom: 60px;

            p {
                font-size: 20px;
                font-weight: 600;

            }
        }

        a.butn-image {
            display: flex;
            align-items: center;
            color: #183B56;

            p {
                font-size: 18px;
                font-weight: 600;
                margin-right: 8px;
            }

            ion-icon {
                font-size: 16px;
            }
        }

        .profile-title {
            font-size: 36px;
            font-weight: 500;
            margin-top: 30px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;

            ion-icon {
                margin-left: 15px;
                color: #1EB173;
                font-size: 26px;
            }
        }

        .profile-content {
            font-size: 16px;
            font-weight: 400;
            color: #5A7184;
            text-align: justify;
            line-height: 28px;
        }

        .profile-skills {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .skills-tag {
                padding: 6px 15px;
                background-color: #e954321e;
                display: flex;
                align-items: center;
                border-radius: 50px;
                font-size: 14px;
                font-weight: 600;
                color: #e95432;
                user-select: none;
                pointer-events: none;

                ion-icon {
                    font-size: 16px;
                    margin-left: 6px;
                    --ionicon-stroke-width: 26px;
                }

                p {
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .skills-tag-green {
                background-color: #1EB1731e;
                color: #1EB173;
            }

            .skills-tag-blue {
                background-color: #00B8D91e;
                color: #00B8D9;
            }
        }

        .profile-test {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .item {
                display: flex;
                justify-content: space-between;
                align-items: center;

                &-title {
                    font-size: 16px;
                    font-weight: 500;
                    color: #5A7184;
                }

                &-content {
                    display: flex;
                    font-size: 16px;
                    font-weight: 500;

                    p {
                        margin-right: 10px;
                        color: #5A7184;
                    }

                    .text {
                        font-weight: 600;
                        text-transform: uppercase;
                        color: #1EB173;
                    }
                }
            }
        }

        .profile-image {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: 150px 30px 75px 120px;
            grid-gap: 15px 15px;
            grid-template-areas:
                "item-1 item-1 item-1 item-2 item-2"
                "item-1 item-1 item-1 item-3 item-3"
                "item-4 item-4 item-4 item-3 item-3"
                "item-4 item-4 item-4 item-5 item-5"
            ;
            margin-bottom: 25px;

            .item {
                overflow: hidden;
                border-radius: 10px;
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all 0.3s ease;
                }

                &:hover img {
                    transform: scale(1.3);
                }

                &-1 {
                    grid-area: item-1;
                }

                &-2 {
                    grid-area: item-2;
                }

                &-3 {
                    grid-area: item-3;
                }

                &-4 {
                    grid-area: item-4;
                }

                &-5 {
                    grid-area: item-5;
                }
            }
        }

    }

    &-tag {
        grid-area: tag;

        .butn {
            padding: 25px;
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 20px;

            a {
                transition: all 0.3s ease-in-out;
            }

            a:hover {
                opacity: 0.7;
            }

            .message {
                display: flex;
                gap: 16px;
                justify-content: center;
                align-items: center;
                background-color: #1565D8;
                padding: 16px 40px;
                border-radius: 8px;
                margin-bottom: 15px;

                p {
                    font-size: 16px;
                    font-weight: 700;
                    color: #fff;
                }
            }

            .portfolio {
                display: flex;
                gap: 16px;
                justify-content: center;
                align-items: center;
                background-color: #fff;
                border: 2px solid #1565D8;
                padding: 16px 40px;
                border-radius: 8px;

                p {
                    font-size: 16px;
                    font-weight: 700;
                    color: #1565D8;
                }
            }
        }

        .achievements {
            padding: 24px;
            color: #183B56;
            background-color: #fff;
            border-radius: 8px;

            .title {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .item {
                margin-top: 20px;

                &-title {
                    display: flex;
                    font-size: 14px;
                    font-weight: 500;
                    align-items: center;

                    ion-icon {
                        margin-left: 8px;
                        font-size: 14px;
                        color: #1EB173;
                    }
                }

                &-content {
                    font-size: 14px;
                    font-weight: 400;
                    color: #5A7184;
                    margin-top: 8px;
                }
            }
        }
    }
}

@include maxW(520px) {
    .profile-wrapper {
        padding: 0 10px;
    }
}

@include maxW(430px) {
    .avt-background {
        margin-top: 60px;
        max-width: 385px;
        height: 200px;
    }

    .profile {
        &-wrapper {
            display: flex;
            flex-direction: column;
            max-width: 385px;
            margin-top: -100px;
        }

        &-tag {
            display: none;
        }

        &-main {
            padding-right: 0;

            .fullname {
                justify-content: center;
                gap: 5px;

                p {
                    font-size: 20px;
                }

                ion-icon {
                    font-size: 24px;
                }
            }

            .age {
                justify-content: center;
                margin-top: 8px;
                margin-bottom: 20px;

                p {
                    font-size: 16px;
                }
            }

            .profile-content {
                font-size: 14px;
                line-height: 22px;
            }

            .profile-title {
                font-size: 24px;
                font-weight: 600;
                padding-bottom: 15px;
                padding-top: 15px;

                ion-icon {
                    font-size: 20px;
                    margin-left: 8px;
                }
            }

            .profile-image {
                grid-template-columns: unset;
                grid-template-rows: unset;
                grid-template-areas: unset;
                grid-auto-flow: column;
                grid-auto-columns: 80%;
                overflow-x: auto;
                scroll-snap-type: x mandatory;
                scroll-snap-stop: always;

                .item {
                    grid-area: unset !important;
                    scroll-snap-align: start;
                }
            }

            .profile-image {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            .profile-image::-webkit-scrollbar {
                display: none;
            }

            a.butn-image {

                ion-icon,
                p {
                    font-size: 14px;
                }
            }

            .butn-mobile {
                display: flex;
                justify-content: space-between;
                margin-bottom: 25px;

                a {
                    width: 41%;
                    padding: 10px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8px;
                    border-radius: 10px;
                    background-color: #1565D81e;

                    p {
                        color: #1565D8;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    ion-icon {
                        font-size: 24px;
                        color: #1565D8;

                    }
                }

                .plus {
                    width: 13%;
                    background-color: #0000001e;
                    position: relative;

                    ion-icon {
                        color: rgb(18, 18, 18);
                    }

                    ul {
                        position: absolute;
                        top: 115%;
                        right: 0;
                        width: 170px;
                        padding: 10px 20px;
                        background-color: #fff;
                        box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
                        border-radius: 8px;
                        opacity: 0;
                        visibility: hidden;
                        transform: translateY(20px);
                        transition: all 0.2s ease-in-out;

                        li {
                            color: #183B56;
                            font-size: 14px;
                            font-weight: 500;
                            padding: 5px 0px;
                        }
                    }

                    &:hover>ul {
                        transform: translateY(0);
                        opacity: 1;
                        visibility: visible;
                    }
                }


                .portfolio {
                    background-color: #E954321e;

                    p {
                        color: #E95432;
                    }
                }
            }



        }

        &-avt {
            display: flex;
            justify-content: center;
            margin-bottom: 25px;

            .avt {
                height: 160px;
                width: 160px;
                padding: 5px;
                border-radius: 15px;

                img {
                    border-radius: 10px;
                }
            }
        }
    }
}

