.section-6 {
    background-image: url(../images/section6/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 550px;
    display: flex;
    align-items: center;

    h2 {
        font-size: 48px;
        font-weight: 700;
        color: #FFFFFF;

    }

    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 29px;
        padding-top: 10px;
        padding-bottom: 35px;
        padding-right: 20px;
        color: #FFFFFF;

    }

    .butn {
        padding: 15px 40px;
        display: inline-flex;
        align-items: center;
        background-color: #FFFFFF;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.5s ease;
        a {
            color: $primary-color;
            font-size: 18px;
            font-weight: 700;
            padding-right: 10px;
        }
        &:hover {
            opacity: 0.7;
        }
        ion-icon {
            font-size: 18px;
        }
    }
}

@include maxW(520px) {
    .section-6 {
        display: flex;
        h2 {
            font-size: 36px;
        }
        p {
            font-size: 14px;
        }
    }
}