.section-7 {
    &-item-social {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
        cursor: pointer;
        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 64px;
            height: 64px;
            border-radius: 16px;
            background-color: #1566d81b;
            margin-bottom: 35px;

            ion-icon {
                font-size: 34px;
                color: #1565D8;
            }
        }

        .title {
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 10px;
        }

        p {
            font-size: 16px;
            font-weight: 400;
            color: #5A7184;
            padding-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        .butn {
            display: flex;
            align-items: center;
            transition: all 0.1s ease-in;

            &:hover {
                opacity: 0.7;
            }

            a {
                font-size: 18px;
                font-weight: 700;
                color: #1565D8;
                padding-right: 10px;
            }

            ion-icon {
                color: #1565D8;
                font-size: 18px;
            }
        }
    }
}

@include maxW(520px) {
    .section-7 {
        display: block;
        .title-section {
            text-align: center;
        }
        .section-7-item-social {
            p {
                padding-left: 40px;
                padding-right: 40px;
            }
            p:nth-child(2),
            p:first-child {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
    }
}