.section-5 {
    .butn-slide {
        display: flex;
        gap: 40px;
        padding: 15px 0px;

        .butn-outline_slider-sec5 {
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #D2E0FF;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease-out;

            &:hover {
                opacity: 0.7;
            }

            ion-icon {
                color: #226DD9;
                font-size: 34px;
            }
        }

        .butn-primary_slider-sec5 {
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #226DD9;
            border-radius: 50px;
            cursor: pointer;
            transition: all 0.3s ease-out;

            &:hover {
                opacity: 0.7;
            }

            ion-icon {
                color: #D2E0FF;
                font-size: 34px;
            }
        }
    }

    &-slider {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        .owl-dots {
            display: block !important;
            margin-top: 50px !important;

            button {
                span {
                    background: #C7E2FF !important;
                    min-width: 10px;
                    min-height: 10px;
                    margin: 0px 10px;
                }
            }

            .active {
                span {
                    background: #226DD9 !important;
                }
            }

        }

        .item {
            background: #FFFFFF;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            padding: 35px 30px;
            max-width: 264px;
            pointer-events: none;

            img {
                width: auto;
            }

            h5 {
                margin-top: 25px;
                margin-bottom: 30px;
                font-size: 18px;
                font-weight: 600;
                line-height: 28px;
                color: #383D44;
            }

            .user {
                .avt {
                    display: flex;
                    gap: 40px;
                    align-items: center;

                    &-img {
                        overflow: hidden;
                        border-radius: 12px;
                        width: 48px;
                        height: 48px;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }

                    .name {
                        a {
                            font-size: 16px;
                            font-weight: 700;
                            color: #383D44;
                        }

                        p {
                            font-size: 13px;
                            font-weight: 600;
                            color: #ED7575;
                        }
                    }
                }
            }
        }
    }
}

@include maxW(430px) {
    .section-5 {
        display: block;

        &-slider {
            .item {
                min-width: 100%;
                min-height: 380px;
                padding: 48px;

                h5 {
                    font-size: 22px;
                    padding: 25px 0px;
                }
            }
        }
    }
}